@import "tailwindcss";

@theme {
  --color-background: #141414;
  --color-foreground: #e5e5e5;
  --color-primary: #e50914; /* Netflix Red-ish */
  --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root {
  background-color: var(--color-background);
  color: var(--color-foreground);
}

body {
  @apply bg-background text-foreground antialiased;
  overflow-x: hidden;
}

/* Custom Utilities for Scrollbar hiding if needed */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
